<!DOCTYPE html>
<html lang="en">
<link href="/static/css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <!--The next 3 lines are the hyperlinked sites, all to open the links in new tabs-->
    <p id="paragraph1">Here is a link to my <a href="https://bfleisch02.pythonanywhere.com/hello" target="_blank">hello route</a>.</p>
    <p id="paragraph2">Here is a link to a new up and coming <a href="https://www.tipthescales.co/" target="_blank">website</a>.</p>
    <p id="paragraph3">Here is a link to <a href="https://www.espn.com/" target="_blank">ESPN</a>.</p>

    <h1>School</h1>
    <p id="paragraph4">I am a <strong> double major </strong> in Information Systems and Operations Management & Business Analytics.
      I am also a <em> minor </em> in Army Leadership Studies.</p>

    <h2 id="header2">Army ROTC</h2>
    <p id="paragraph4">I am a senior in the Army ROTC program training to commission as a 2LT in the Army upon graduation.</p>

    <!--Below I am detailing the different classes and semesters when they were taken directly related to BMGT407-->
    <table>
      <tr>
        <th>Course</th>
        <th>Semester Taken</th>
      </tr>
      <tr>
        <td>BMGT407</td>
        <td>Spring 2024</td>
      </tr>
      <tr>
        <td>BMGT403</td>
        <td>Spring 2023</td>
      </tr>
      <tr>
        <td>BMGT402</td>
        <td>Fall 2023</td>
      </tr>
      <tr>
        <td>BMGT302</td>
        <td>Fall 2022</td>
      </tr>
    </table>

    <h3>Intramural Sports</h3>
    <ul>
      <li>5v5 Volleyball</li>
      <li>Flag Football</li>
      <li>5v5 Basketball - Mixed Gender B</li>
      <li>5v5 Basketball - Men's 6 ft & Under</li>
    </ul>

    <h4>Backpack Items</h4>
    <ol class="items">
      <li>Computer</li>
      <li>Computer Charge</li>
      <li>Pencil</li>
      <li>Pen</li>
      <li>Notebook</li>
      <li>Water</li>
    </ol>

    <!--I am adding another paragraph for the CSS assignment -->
    <p id="paragraph5"> I cannot wait for graduation in a few months</p>

    <!--I am attaching an image of the Smith School logo to add some color to the page-->
    <p id="paragraph1">Below is a picture of the Smith School logo.</p>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith logo">
</body>
</html>